# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environments
.venv/
venv/
ENV/
env/

# Environment Variables & Secrets
.env

# SQLite Database & Uploads
instance/*.db
uploads/*
!uploads/.gitkeep
!instance/.gitkeep

# IDE Settings
.vscode/
.idea/
*.swp

# Logs
*.log
